input[type=submit]:hover {
    background-color: rgb(58, 101, 61);
  }
input[type=submit]{
    background-color: blue;
    width: 170px;
    height: 30px;
    
    
}
input[type=text]{
   border-radius: 5px; 
   height: 20px;
}
input[type=email]{
    border-radius: 5px; 
    height: 20px;
 }
 input[type=password]{
    border-radius: 5px; 
    height: 20px;
 }
 div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }