div{
    padding: 30px;
    width: 200px;
    background: #444444;
    color: azure;
    text-align: center;
    margin: 100px auto;
}
div:hover{
    background: #444444;
    border-radius: 50px;
}